<h3><%=@lecture.title %></h3>

<%= link_to 'new Lecture_block', new_lecture_lecture_block_path(@lecture) %><br>

<br>
Title:<%=@lecture.title %><br>
Description:<%=@lecture.description %><br>
<!--Content<%#= @lecture.content %><br>-->
<hr>
<table>
<% @lecture.lecture_blocks.each do |block| %>
    <tr>
      <td>
          <%= block.title %> | <%= block.order %> | <%=link_to "Show", lecture_lecture_block_path(@lecture,block) %>
        | <%= link_to "Edit", edit_lecture_lecture_block_path(@lecture, block) %>
        | <%= link_to "Destroy", lecture_lecture_block_path( block), method: :delete,
                  data: { confirm: "Are you sure?" } %><br>
      </td>
    </tr>
    <tr>
      <td>
<!--        <%#= block.content%><br>-->
        <hr>
      </td>
    </tr>

<% end %>
  <%binding.pry %>
</table>
<br>
<%= link_to 'Back', lectures_path %>